.footer{
    background-color: #111;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'san serif';
    font-weight: 100;
    padding-left: 400px;

}