.header{
    background-color: #462d66;
    color: white;
    font-family: 'san serif';
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;

}
.header_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 20px;
}
.header_first_title{
    letter-spacing: 3px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.header_second_title{
    letter-spacing: 5px;
    height: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.header_third_title{
    letter-spacing: 3px;
    width: 65%;
    display: flex;
    justify-content: flex-end;
    padding-left: 300px;
}

.header_logo > img {
    width: 120px;
    padding: 20px;
    background-color: #46738C;
    border-radius: 50%;
}